
<div id="menu">
  <ul>

    <input  type="text"  required md-maxlength="10" placeholder="Buscar materia" (keyup.enter) = " onKey($event)" >
  </ul>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let picture of pictures">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{picture.nombre}}</span>
      
    </mat-card-title>
    <img mat-card-image [src]="img"(click)="click(picture.departamento,picture.nombre,picture.id)">
    <label>Departamento: {{picture.departamento}}</label>
    <p>
  
  </mat-card>
  
</div>

