
<div class="center-container">
  <div class="main">
    <h1 class="w3layouts_head">Registro para agregar una nueva materia</h1>
      <div class="w3layouts_main_grid">
        <div  class="w3_form_post">
          <div class="w3_agileits_main_grid w3l_main_grid">
            <span class="agileits_grid">
                <p>{{values}}</p>
              
              <label>Nombre de la materia </label>
              <input type="text" name="Task" placeholder=" Nombre" required="" (keyup)="name($event)">
            </span>
          </div>
          <div class="w3_agileits_main_grid w3l_main_grid">
            <span class="agileits_grid">
              <label>Departamento </label>
              <input type="text" name="Task" placeholder=" Departamento" required="" (keyup)="department($event)">
            </span>
          </div>
          <div class="clear"></div>
        </div>
        <div class="w3_main_grid">
          <div class="w3_main_grid_right">
            <input  type="submit" value="Submit" (click)="onKey($event)">
          </div>
        </div>
      </div>
    </div>

 