

<div align=center>
  <table id="tabla1">
    <tr> 
      <td rowspan="2"><img src="{{img}}" ></td>
      <td>{{profesorBuscado}}</td>
      <td> <img  mat-card [src]="img2"alt="100" height="100"> </td>
    </tr>
    <tr>
      <td>{{departamento}}</td>   
      <td>PUNTUACION</td>   
    </tr>  
  </table>

</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let picture of pictures">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">Materia:{{picture.nombre}}</span>
    </mat-card-title>
    <img mat-card-image [src]="img">
    
    <label>Departamento: {{picture.departamento}}</label>
    <br>
    <button (click)="comentarios(picture._id,picture.nombre,picture.departamento)" >Ver mas</button>
  </mat-card>
</div>


<div>

  <div class="enter">
  
    <input type="submit" value="Agregar nueva materia" (click)="click()">
    </div>
</div>
