

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let picture of pictures">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">Materia:{{picture.nombre}}</span>
    </mat-card-title>
    <img mat-card-image [src]="img">
    
    <label>Departamento: {{picture.departamento}}</label>
  </mat-card>
</div>


<div>

  <div class="enter">
  
    <input type="submit" value="Agregar nueva materia" (click)="click()">
    </div>
</div>
