h1 {
  color: red;
  }
  
h2 {
  color: blue;
  text-align: center;
}

  table
  {       
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      font-size: 24px;    
      margin: 45px;     
      width:90%; 
      text-align: center;    
      line-height: 1.4em;
      border-color: #039;       
      border-collapse: separate;        
      }

  tr {    
      padding: 15px;     
      background: #e8edff;     
      border-bottom: 1px solid #fff;
      border-radius: 5px;
      color: #669;    
       }
  
  tr:hover td { 
      background: #d0dafd; 
      color: #339; }

.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  
  .search-form {
    width: 90%;
  }
  .enter {
    text-align: center;
  }
  .enter input 
  {
    display: inline-block;
  border-radius: 4px;
  background-color: dimgrey;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 500px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;}


