
<div align=center>
  <table id="tabla1">
    <tr> 
      <td rowspan="2"><img src="{{img}}"></td>
      <td>{{profesorBuscado}}</td>
      <td> <img src="{{img2}}"> </td>
    </tr>
    <tr>
      <td>{{departamento}}</td>   
      <td>PUNTUACION</td>   
    </tr>  
  </table>

</div>

<div style="text-align:center">
  <h1>      
    {{ title }}
  </h1>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div align=center>
  <table id="tabla2" border="2">
    <tr>
        <td colspan="2">ESCRIBE TU OPINION</td>
    </tr>      
    <tr>
      <th  colspan="2"><textarea name="coment" cols="150" rows="5" formControlName="messageinput" ></textarea></th>
    </tr>
    <tr>
      <button type="submit">Submit</button>
     <!-- <th colspan="2"><input type="submit" name="enviar"(click)=click(titleInput.value) value="ENVIAR"></th>-->
    </tr>
    <tr colspan="2">
      <td>COMENTARIO</td>
      <td>FECHA</td>
    </tr>
 
    <tr *ngFor="let col of data" >
     <td> {{col.fecha}}</td>
     <td> {{col.comentario}}</td>
    </tr>
    
  </table>

</div>
</form>