
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
    overflow: auto;
    background-color: #333;

}

#menu li {
    float: left;
}

#menu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111;
}

#menu .active {
    background-color: gray;
}

 #menu #quit {
    float: center-right;
}
#menu input
{
    float: right;
    font-size: 30px; ;
}

.extra{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }