<div class="container">

  <ngx-carousel [inputs]="carouselTileTwo" (carouselLoad)="carouselTileTwoLoad()">
      <ngx-tile NgxCarouselItem *ngFor="let tile of carouselTileTwoItems; let i = index;">
          <div class="wBg">
              <div class="tile" [style.background]="'url(' + tile + ')'">
                 
              </div>
              <h4>{{names[i]}}</h4>
              <p>Departamento</p>
          </div>
      </ngx-tile>
      <button NgxCarouselPrev class="leftRs">&lt;</button>
      <button NgxCarouselNext class="rightRs">&gt;</button>
  </ngx-carousel>
</div>
